In [7]:
import pandas as pd
import math

In [8]:
data= pd.read_csv("eecs-445.csv")
data

,Unnamed: 0,Section,Instruction Mode,Class No,Enroll Stat,Open Seats,Wait List,Hour
0,3546,001 (LEC),In Person,26932,Open,120,-1,2021-11-15 06:00:00
1,3546,002 (LEC),In Person,15919,Open,4,10,2021-12-09 19:00:00
2,3547,002 (LEC),In Person,24565,Open,120,-1,2021-11-15 06:00:00
3,3547,010 (DIS),In Person,15922,Closed,0,3,2021-12-09 19:00:00
4,3548,011 (DIS),In Person,22551,Open,40,-1,2021-11-15 06:00:00
...,...,...,...,...,...,...,...,...
4123,5328,014 (DIS),In Person,26935,Closed,0,13,2021-12-09 19:00:00
4124,5329,015 (DIS),In Person,18524,Open,25,-1,2021-11-15 06:00:00
4125,5329,015 (DIS),In Person,26936,Closed,0,13,2021-12-09 19:00:00
4126,5330,016 (DIS),In Person,18504,Open,25,-1,2021-11-15 06:00:00
4127,5330,016 (DIS),In Person,26937,Closed,0,13,2021-12-09 19:00:00

In [13]:
# there's a chance this would be faster if we just 
    # calculated all past rates for all classes one time
    # instead of everytime the scrapper ran
# also I'm dividing by the number of days from last time here (25)
# input data needs to be separated by class so I should work on whether that's okay
    # probs need class name parameter 
def past_rate(sectionName, pastData) :
    classData = pastData[pastData['Section']==sectionName]
    classData = classData.sort_values(by=['Hour'], ascending=False).reset_index(drop=True)
    days = 25
    return (classData["Open Seats"][len(classData) - 1] - classData["Open Seats"][0]) / days

In [12]:
# input data needs to be separated by class so I should work on whether that's okay
    # probs need class name parameter 
def current_rate(sectionName, currentData) :
    classData = currentData[currentData['Section']==sectionName]
    classData = classData.sort_values(by=['Hour'], ascending=False).reset_index(drop=True)
    daysList = []
    for time in data['Hour']:
        daysList.append(time[0:10])
    days = pd.Series(daysList).unique()
    return (classData["Open Seats"][len(classData) - 1] - classData["Open Seats"][0]) / len(days)

In [14]:
past_rate('001 (LEC)', data)

119.68

In [ ]:
def predicted_rate() :