In [3]:
import pandas as pd
import seaborn as sns

In [4]:
data = pd.read_csv("eecs-445.csv")
data

,Unnamed: 0,Section,Instruction Mode,Class No,Enroll Stat,Open Seats,Wait List,Hour
0,3546,001 (LEC),In Person,26932,Open,120,-1,2021-11-15 06:00:00
1,3546,002 (LEC),In Person,15919,Open,4,10,2021-12-09 19:00:00
2,3547,002 (LEC),In Person,24565,Open,120,-1,2021-11-15 06:00:00
3,3547,010 (DIS),In Person,15922,Closed,0,3,2021-12-09 19:00:00
4,3548,011 (DIS),In Person,22551,Open,40,-1,2021-11-15 06:00:00
...,...,...,...,...,...,...,...,...
4123,5328,014 (DIS),In Person,26935,Closed,0,13,2021-12-09 19:00:00
4124,5329,015 (DIS),In Person,18524,Open,25,-1,2021-11-15 06:00:00
4125,5329,015 (DIS),In Person,26936,Closed,0,13,2021-12-09 19:00:00
4126,5330,016 (DIS),In Person,18504,Open,25,-1,2021-11-15 06:00:00
4127,5330,016 (DIS),In Person,26937,Closed,0,13,2021-12-09 19:00:00

In [6]:
sortedData = data.sort_values(by=['Hour'], ascending=False)
data[data['Section']=='001 (LEC)'].sort_values(by=['Hour'], ascending=False)["Hour"]

4113    2021-12-09 19:00:00
15      2021-12-09 19:00:00
11      2021-12-09 19:00:00
4104    2021-12-09 16:00:00
4096    2021-12-09 15:00:00
               ...
40      2021-11-15 10:00:00
32      2021-11-15 09:00:00
24      2021-11-15 08:00:00
16      2021-11-15 07:00:00
0       2021-11-15 06:00:00
Name: Hour, Length: 516, dtype: object

In [7]:
sortedData['Open Seats'][0] - sortedData['Open Seats'][len(data) - 0 - 1]
print(type(sortedData["Open Seats"]))

<class 'pandas.core.series.Series'>

In [8]:
# rate calculations
sections = data['Section'].unique()
rates = []
for className in sections:
    classData = data[data['Section']==className]
    classData = classData.sort_values(by=['Hour'], ascending=False).reset_index(drop=True)
    classData["Open Seats"][len(classData) - 1]
    rates.append((classData["Open Seats"][len(classData) - 1] - classData["Open Seats"][0])
                    / 25)
rates

[4.48, 4.64, 1.0, 1.6, 1.6, 1.6, 1.6, 1.6, 1.6, 0.0]

In [9]:
daysList = []
for time in data['Hour']:
    daysList.append(time[0:10])
days = pd.Series(daysList)
days = days.sort_values(ascending=False).unique()
days

array(['2021-12-09', '2021-12-08', '2021-12-07', '2021-12-06',
       '2021-12-05', '2021-12-04', '2021-12-03', '2021-12-02',
       '2021-12-01', '2021-11-30', '2021-11-29', '2021-11-28',
       '2021-11-27', '2021-11-26', '2021-11-25', '2021-11-24',
       '2021-11-23', '2021-11-22', '2021-11-21', '2021-11-20',
       '2021-11-19', '2021-11-18', '2021-11-17', '2021-11-16',
       '2021-11-15'], dtype=object)

In [42]:
# rate calculations
sections = data['Section'].unique()
rates = []
for className in sections:
    classData = data[data['Section']==className]
    classData = classData.sort_values(by=['Hour'], ascending=False).reset_index(drop=True)
    classData["Open Seats"][len(classData) - 1]
    if(len(classData) > 1) :
     classRates = []
     classRates.append((classData["Open Seats"][len(classData) - (int)(len(classData) / 2)] - classData["Open Seats"][0]) / len(days))
     classRates.append((classData["Open Seats"][len(classData) - 1] 
                        - classData["Open Seats"][len(classData) - (int)(len(classData) / 2)]) / len(days))
     rates.append(classRates)
#     for x in range(0,24):
#         classRates = rates.append((classData["Open Seats"][len(classData) - 1] - classData["Open Seats"][0])
#                     / len(days))
rates

[[1.64, 2.84],
 [1.96, 2.68],
 [1.0, 0.0],
 [0.56, 1.04],
 [0.8, 0.8],
 [0.56, 1.04],
 [0.56, 1.04],
 [0.92, 0.68],
 [0.68, 0.92]]